<!-- load bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<div class="row">
    <div class="col-md-12">
        <h2>Home</h2>
    </div>
    <div class="col-md-12">
        <strong>SKO2018 Useful Information</strong>
        <p>Welcome to Sales Kickoff 2018! Below is some useful information for while you are onsite and please reference the <a href="https://qliksaleskickoff.com/" target="_blank">SKOwebsite</a> for additional information!</p>

        <strong>Registration Hours – Wildwood Foyer</strong>
        <p>Monday, January 15th from 10:00 AM-7:00 PM</p>

        <strong>InfoPoint Hours – Wildwood Foyer</strong>
        <p>Tuesday, January 16th from 7:00 AM-6:00 PM</p>
        <p>Wednesday, January 17th from 7:00 AM-6:00 PM</p>
        <p>Thursday, January 18th from 8:00 AM-12:00 PM</p>

        <strong>Internet Access</strong>
        <p>For your convenience, complimentary wireless internet access is available at any time in the conference area. With
            your device turned on, view accessible wireless networks and select “Qlik.” Enter the access code “QLIKSKO2018”
            when prompted. Launch a web browser.</p>
    </div>
</div>
